In [2]:
# import pandas

import pandas as pd

In [3]:
# reading various file formats in pandas 
# csv files using read_csv() function

# import pandas as pd
df = pd.read_csv('mobile_dataset1.csv')

In [4]:
df

,company_name,RAM,ROM,type,height_in,display,battery_power,front_camera,back_camera,height_cm,processor,price
0,SAMSUNG,12,512,Galaxy Z Fold4 5G,7.60,Full HD+,4400,10.0,72,19.3040,Qualcomm Snapdragon 8+ Gen 1,"₹1,64,999"
1,SAMSUNG,12,256,Galaxy Z Fold3 5G,7.60,QXGA+,4400,10.0,36,19.3040,Qualcomm Snapdragon 888 Octa-Core,"₹1,61,000"
2,SAMSUNG,12,256,Galaxy Z Fold4 5G,7.60,Full HD+,4400,10.0,72,19.3040,Qualcomm Snapdragon 8+ Gen 1,"₹1,54,999"
3,SAMSUNG,12,256,Galaxy Z Fold3 5G,7.60,QXGA+,4400,10.0,36,19.3040,Qualcomm Snapdragon 888 Octa-Core,"₹1,49,999"
4,SAMSUNG,12,512,Galaxy S22 Ultra 5G,6.80,Quad HD+,5000,40.0,130,17.2720,Octa Core,"₹1,42,999"
...,...,...,...,...,...,...,...,...,...,...,...,...
791,Redmi,4,64,Note 7 Pro,6.30,Full HD+,4000,13.0,53,16.0020,Qualcomm Snapdragon 675,"₹15,999"
792,Redmi,4,64,Note 7 Pro,6.30,Full HD+,4000,13.0,53,16.0020,Qualcomm Snapdragon 675,"₹15,999"
793,Redmi,4,64,Note 7 Pro,6.30,Full HD+,4000,13.0,53,16.0020,Qualcomm Snapdragon 675,"₹15,999"
794,Infinix,8,128,Note 12 Pro 5G,6.70,Full HD+,5000,16.0,112,17.0180,Mediatek Dimensity 810 5G,"₹15,999"
795,REDMI,4,64,11 Prime 5G,6.58,Normal,5000,50.0,50,16.7132,NaN,"₹15,999"

In [6]:
# to access first 5 rows

df .head()

,company_name,RAM,ROM,type,height_in,display,battery_power,front_camera,back_camera,height_cm,processor,price
0,SAMSUNG,12,512,Galaxy Z Fold4 5G,7.6,Full HD+,4400,10.0,72,19.304,Qualcomm Snapdragon 8+ Gen 1,"₹1,64,999"
1,SAMSUNG,12,256,Galaxy Z Fold3 5G,7.6,QXGA+,4400,10.0,36,19.304,Qualcomm Snapdragon 888 Octa-Core,"₹1,61,000"
2,SAMSUNG,12,256,Galaxy Z Fold4 5G,7.6,Full HD+,4400,10.0,72,19.304,Qualcomm Snapdragon 8+ Gen 1,"₹1,54,999"
3,SAMSUNG,12,256,Galaxy Z Fold3 5G,7.6,QXGA+,4400,10.0,36,19.304,Qualcomm Snapdragon 888 Octa-Core,"₹1,49,999"
4,SAMSUNG,12,512,Galaxy S22 Ultra 5G,6.8,Quad HD+,5000,40.0,130,17.272,Octa Core,"₹1,42,999"

In [8]:
# to access last 5 rows
df.tail()

,company_name,RAM,ROM,type,height_in,display,battery_power,front_camera,back_camera,height_cm,processor,price
791,Redmi,4,64,Note 7 Pro,6.30,Full HD+,4000,13.0,53,16.0020,Qualcomm Snapdragon 675,"₹15,999"
792,Redmi,4,64,Note 7 Pro,6.30,Full HD+,4000,13.0,53,16.0020,Qualcomm Snapdragon 675,"₹15,999"
793,Redmi,4,64,Note 7 Pro,6.30,Full HD+,4000,13.0,53,16.0020,Qualcomm Snapdragon 675,"₹15,999"
794,Infinix,8,128,Note 12 Pro 5G,6.70,Full HD+,5000,16.0,112,17.0180,Mediatek Dimensity 810 5G,"₹15,999"
795,REDMI,4,64,11 Prime 5G,6.58,Normal,5000,50.0,50,16.7132,NaN,"₹15,999"

In [10]:
 # creating pandas series and data frames
    # from a list or array
data=[10,20,30,40,50]

In [13]:
series = pd.Series(data)
series

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [14]:
value =5

In [16]:
series = pd.Series(value,index=('a','b','c'))
series

a    5
b    5
c    5
dtype: int64

In [17]:
# data frame

In [18]:
# create a dataframe

In [22]:
data = {'name':['john','emma','mike'],'age':[25,30,35],'city':['london','newyork','paris']}
data

{'name': ['john', 'emma', 'mike'],
 'age': [25, 30, 35],
 'city': ['london', 'newyork', 'paris']}

In [26]:
df = pd.DataFrame(data)
df

   name  age     city
0  john   25   london
1  emma   30  newyork
2  mike   35    paris

In [28]:
# commmon operation on series and data frame 

# to fill and drop - fillna() and dropna()

# statistics - min, max , sum,mean,count
# data visualization - matplotlib,seaborn

In [29]:
# .loc and .iloc function

In [31]:

df.loc[2,'name']

'mike'

In [32]:
df.iloc[0,2]

'london'

In [33]:
# reset index

In [34]:
df.reset_index()

   index  name  age     city
0      0  john   25   london
1      1  emma   30  newyork
2      2  mike   35    paris

In [45]:
# drop and inplace  function

import pandas as pd

# Assuming 'df' is your DataFrame
df.drop(1, inplace=True)

In [46]:
df

   name  age   city
2  mike   35  paris

In [52]:
# re.match 

import re

# Define a regular expression pattern
pattern = r'^Hello'

# Sample string
text = 'Hello, World!'

# Use re.match to check if the string starts with 'Hello'
match_object = re.match(pattern, text)

# Check if there is a match
if match_object:
    print('Match found!')
else:
    print('No match.')

Match found!

In [56]:
# re.sub
import re

# Example: Replace all occurrences of 'apple' with 'orange'
text = 'I like apple and apple pie.'
modified_text = re.sub(r'apple', 'orange', text)

print(modified_text)

I like orange and orange pie.

In [54]:
# re.findall
import re

# Example: Find all occurrences of digits in a string
text = 'The price is $20 and the discount is 15%.'
matches = re.findall(r'\d+', text)

print(matches)

['20', '15']

In [57]:
#re.search
import re

# Example: Search for the word 'python' in a string
text = 'I love Python programming.'
match_object = re.search(r'python', text, flags=re.IGNORECASE)  # Case-insensitive search

if match_object:
    print('Match found at index:', match_object.start())
else:
    print('No match found.')

Match found at index: 7